body {
  margin: 0;
  display: flex;
}

.parameterDiv{
  display: flex;
  flex-direction: row;
}

.randomButton{
  margin: 1rem 1rem 1rem 1rem;
}

.clearButton{
  margin: 1rem 1rem 1rem 1rem;
}

.updateButton{
  margin: 1rem 1rem 1rem 1rem;
}

.reportDiv, .formDiv{
  width:50%;
}

.formDiv {
  border: solid;
  padding: 1rem;
}

.topArea{
width:1000px;
}

.titleArea{
  text-align: center;
}

.parameterSetting {
  margin: 0rem 1rem 1rem 1rem;
}

.conlangParams {
  justify-content: space-between;
}
