body {
  margin: 0;
  display: flex;
}


.randomButton{
  color: green;
  margin: 0rem 1rem 1rem 1rem;
}

.topArea{
width:1000px;
}

.titleArea{
  text-align: center;
}

.parameterSetting {
  margin: 0rem 1rem 1rem 1rem;
}

.conlangParams {
  background-color: lightblue;
  justify-content: space-between;
}
